.weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0%;
  flex-direction: column;
  background-color: rgb(83, 133, 83);
  font-size: 2rem;
}

.search-bar {
  height: 3vh;
  font-size: 1rem;
}

.search-button {
  margin: 0.6rem;
  border-radius: 50%;
}

.forecast-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-card {
  padding: 2rem;
  margin: 2rem;
  height: 50vh;
  font-size: 1.5rem;
}
